.content .edit-profile {
  margin: 30px 50px;
  display: flex;
  justify-content: space-evenly;
}

.content .left .kotak-file {
  border: 4px dotted #555;
  height: 400px;
  width: 500px;
}

.content .left .kotak-file {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.content .left .kotak-file label {
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
}

.content .right {
  flex-direction: columns;
}

.content .right .right-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
}
.content .right .avatar-file {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px dotted #555;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.content .right .avatar-file label {
  font-size: 60px;
  margin: auto;
  cursor: pointer;
}

.content .right .input-text {
  width: 100%;
}

.buttons {
  display: flex;
}
