.text-area {
  width: 100%;
  border: 2px solid #bcbcbc;
  padding: 12px 10px;
  border-radius: 8px;
  outline: none;
  min-height: 122px;
  color: #000;
  box-sizing: border-box;
  background-color: #e7e7e7;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  resize: none;
}

.text-area:hover {
  -webkit-box-shadow: 0px 0px 3px 1px #bcbcbc;
  -moz-box-shadow: 0px 0px 3px 1px #bcbcbc;
  box-shadow: 0px 0px 1px 1px #bcbcbc;
}

.text-area:focus {
  -webkit-box-shadow: 0px 0px 3px 1px #bcbcbc;
  -moz-box-shadow: 0px 0px 3px 1px #bcbcbc;
  box-shadow: 0px 0px 1px 1px #bcbcbc;
}

textarea::-webkit-scrollbar {
  display: none;
}
