.button {
  padding: 8px 12px;
  color: #000;
  font-weight: 600;
  font-size: 14px;
  border: none;
  outline: none;
  background-color: #2fc4b2;
  border-radius: 8px;
  width: 100px;
  cursor: pointer;
  font-family: "Montserrat";
  -webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 3px 0px rgba(97, 97, 97, 0.5);
}

.button:hover {
  background-color: #555;
  color: #fff;
}

.btn-secondary {
  background-color: #e7e7e7;
}

.btn-secondary:hover {
  background-color: #555;
}

.btn-add {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.btn-add p {
  font-size: 14px;
  margin-bottom: 0;
  color: #fff;
  font-weight: 500;
  padding-left: 20px;
}

.button-link:hover {
  text-decoration: none;
}
