.content-project {
  display: flex;
}

/* .content-project .left {
  display: flex;
  flex-direction: column;
} */

.content-project .right {
  text-align: left;
  margin-left: 30px;
}

.content-project .right .buttons {
  display: flex;
  justify-content: flex-end;
}

.content-project .images {
  display: flex;
  margin-top: 10px;
  flex-wrap: wrap;
}

.content-project .images img {
  width: 180px;
  height: 150px;
  margin-right: 10px;
}

.content-project .images img:hover {
  border: 2px solid rgb(126, 124, 124);
}
