.table tbody td {
  border: 1px solid #828282;
  height: 40px;
  padding-top: 10px;
}

.table tbody td p {
  margin-bottom: 0;
  color: #0d33b9;
}

.table tbody td:nth-child(3) {
  text-align: left;
}

.popup-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  background-color: #000;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 20%;
}

.pop-up {
  background-color: #fff;
  width: 742px;
  position: absolute;
  margin: auto;
  padding: 20px 30px;
  /* z-index: 99; */
  border-radius: 5px;
  text-align: left;
}

.pop-up h6 {
  font-size: 20px;
  font-weight: 600;
}

.pop-up p {
  font-size: 18px;
}

.pop-up .price {
  font-size: 20px;
  font-weight: 600;
  color: #0acf83;
}

.pop-up .buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
