.left .kotak-file-input {
  border: 4px dotted #555;
}

.left .kotak-file-input {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.left .kotak-file-input i {
  font-size: 50px;
  margin-top: 10px;
}

.left .kotak-file-input label {
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
